body {
  background-color: rgba(237, 235, 186, 0.776);
}

h1 {
  text-align: center;
}

.creature-keyword-filter {
  display: flex;
  background-color: rgba(211, 150, 232, 0.749);
  font-family: 'Times New Roman', Times, serif;
  margin: 6px;
}

.creature-horn-filter {
  display: flex;
  background-color: rgba(211, 150, 232, 0.749);
  font-family: 'Times New Roman', Times, serif;
  margin: 6px;
}

.creature-card {
  height: 400px;
  width: 300px;
  display: flex;
  flex-direction: column;
  background-color: rgba(227, 117, 183, 0.495);
  text-align: center;
  margin: 40px;
  border-radius: 10px;
  border: 1px dotted black;
  box-shadow: 3px 3px 3px rgba(128, 128, 128, 0.728);
}

img {
  height: 70%;
  width: 70%;
  justify-content: center;
}

ul {
  display: flex;
  flex-wrap: wrap;
}


